<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinema.persistence.mybatis.dao.HallDao">

    <resultMap id="hallResultMap" type="com.cinema.domain.CinemaHall">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="totalRows" column="total_rows"/>
        <result property="seatsPerRow" column="seats_per_row"/>
    </resultMap>

    <select id="findAll" resultMap="hallResultMap">
        SELECT *
        FROM cinema_halls
    </select>

    <select id="findById" parameterType="Long" resultMap="hallResultMap">
        SELECT *
        FROM cinema_halls
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.cinema.domain.CinemaHall" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cinema_halls (name, total_rows, seats_per_row)
        VALUES (#{name}, #{totalRows}, #{seatsPerRow})
    </insert>

    <update id="update" parameterType="com.cinema.domain.CinemaHall">
        UPDATE cinema_halls
        SET name          = #{name},
            total_rows    = #{totalRows},
            seats_per_row = #{seatsPerRow}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE
        FROM cinema_halls
        WHERE id = #{id}
    </delete>

</mapper>
