<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinema.persistence.mybatis.dao.ReservationSeatDao">

    <resultMap id="seatResultMap" type="com.cinema.domain.Seat">
        <id property="id" column="id"/>
        <result property="hallId" column="hall_id"/>
        <result property="rowNum" column="row_num"/>
        <result property="seatNumber" column="seat_number"/>
        <result property="isBooked" column="is_booked"/>
    </resultMap>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO reservation_seats (reservation_id, seat_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.reservationId}, #{item.seatId})
        </foreach>
    </insert>

    <select id="findSeatsByReservationId" parameterType="Long" resultMap="seatResultMap">
        SELECT s.id,
               s.hall_id,
               s.row_num,
               s.seat_number,
               TRUE AS is_booked
        FROM seats s
                 JOIN reservation_seats rs ON rs.seat_id = s.id
        WHERE rs.reservation_id = #{reservationId}
        ORDER BY s.row_num, s.seat_number
    </select>

    <delete id="deleteByReservationId" parameterType="Long">
        DELETE
        FROM reservation_seats
        WHERE reservation_id = #{reservationId}
    </delete>

</mapper>
