<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinema.persistence.mybatis.dao.MovieSessionDao">

    <select id="findAll" resultType="com.cinema.domain.MovieSession">
        SELECT
        id,
        movie_id AS movieId,
        hall_id AS hallId,
        start_time AS startTime
        FROM movie_sessions
        ORDER BY start_time
    </select>

    <select id="findByMovieId" parameterType="Long" resultType="com.cinema.domain.MovieSession">
        SELECT
        id,
        movie_id AS movieId,
        hall_id AS hallId,
        start_time AS startTime
        FROM movie_sessions
        WHERE movie_id = #{movieId}
        ORDER BY start_time
    </select>

    <select id="findById" parameterType="Long" resultType="com.cinema.domain.MovieSession">
        SELECT
        id,
        movie_id AS movieId,
        hall_id AS hallId,
        start_time AS startTime
        FROM movie_sessions
        WHERE id = #{id}
    </select>

</mapper>